body {
  margin-left: 10%;
}

.background {
  text-align: center;
  /* top: 1371px; */
  background: #F3F3F3;
  border: 2px solid #FFFFFF;
  width: 100vw;
}

input[type="text"], textarea {
  padding-left: 2em;
  box-sizing: border-box;
}

input[type="number"], textarea {
  padding-left: 2em;
  box-sizing: border-box;
}

input[type="email"], textarea {
  padding-left: 2em;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-submit {
  cursor: pointer;
}

input:focus, textarea:focus {
  outline: none;
}

textarea {
  padding-top: 2em;
  resize: none;
}

/* .line{
    border: 2px solid #00E0FF;
    margin-top: 3%;
        margin-left:30%;
        width: 264px;
            height: 0px;
            display:block;
} */
.heading {
  margin: auto;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}

.row-1 {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.row-2 {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
}

.box1 {
  position: relative;
  width: 254.93px;
  height: 255.04px;
  /* left: -53px; */
  background: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
  border-radius: 45px;
}

.box2 {
  position: relative;
  width: 254.93px;
  height: 255.04px;
  /* left: 382.03px; */
  background: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
  border-radius: 45px;
}

.box3 {
  position: relative;
  width: 254.93px;
  height: 255.04px;
  /* left: 817.07px; */
  background: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
  border-radius: 45px;
}

.box4 {
  position: relative;
  width: 254.93px;
  height: 255.04px;
  /* left: 1252px; */
  background: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
  border-radius: 45px;
}

.box5 {
  position: relative;
  width: 254.93px;
  height: 255.04px;
  background: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
  border-radius: 45px;
}

.box6 {
  position: relative;
  width: 254.93px;
  height: 255.04px;
  background: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
  border-radius: 45px;
}

.box7 {
  position: relative;
  width: 254.93px;
  height: 255.04px;
  background: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
  border-radius: 45px;
}

.box8 {
  position: relative;
  width: 254.93px;
  height: 255.04px;
  background: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
  border-radius: 45px;
}

.para {
  font-size: 14px;
  text-align: center;
  font-weight: 800;
  line-height: 0.9cm;
  font-family: 'Poppins', sans-serif;
}

.icon-img {
  height: 50%;
  width: 50%;
  margin-top: 22px;
  align-items: center;
  opacity: 1;
  
}
.icon-img-1{
  height: 50%;
  width: 50%;
  margin-top: 22px;
  align-items: center;
  opacity: 0;
  transition: .3s ease-in;
}

.cover {
  height: 35%;
  width: 35%;
  background: radial-gradient(111.36% 111.36% at 16.48% 11.93%, #00E0FF 0%, #0044F2 100%);
  border-radius: 50%;
  margin: auto;
  margin-top: 40px;
  opacity: 1;
  /* transition: .4s ease-in; */
}

.para {
  font-size: 16px;
  text-align: center;
  font-weight: 800;
  margin: 25px 20px;
  font-family: 'Poppins', sans-serif;
}

.para1 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  line-height: 0.8cm;
  margin: 25px 20px;
  opacity: 0;
 

}

.parag {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 248.5%;
  /* display:flex;
        flex-direction: row; */
  text-align: center;
  margin: 20px 118px 43px 118px;
  color: #9E9D9D;
}

.About {
  margin: auto;
  margin-top: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */
  color: #000000;
  text-align: center;
}

.bg {
  width: 100vw;
  height: auto;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  background-size: 100% 10%;
  background-blend-mode: cover;
  text-align: center;
}

.subscription {
  background: #FFFFFF;
  position: relative;
  z-index: 1;
  box-shadow: 0px -12px 35px rgba(0, 0, 0, 0.25);
  border-radius: 62px;
  height: auto;
  width: 100vw;
  bottom: 54px;
}

.paragraph {
  position: relative;
  font-family: 'Caveat', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  width: 50vw;
  left: 13vw;
  top: 30px;
  color: #0044F2;
}

.Subscribe {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  /* identical to box height */
  margin-left: 13vw;
  color: #000000;
}

.sec-box {
  right: 10vw;
  border: none;
  position: relative;
  width: 150px;
  height: 80px;
  background: linear-gradient(270deg, #00E0FF 0%, #0044F2 100%);
  border-radius: 65px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.subscribe-text {
  margin-top: 15px;
}

.mail {
  box-sizing: border-box;
  display: inline-block;
  width: 40vw;
  height: 80px;
  background: #F3F3F3;
  border: 2px solid #F3F3F3;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
  border-radius: 65px;
}

#container {
  display: flex;
  width: 100vw;
  background: #FFFFFF;
  margin-bottom: 80px;
  justify-content: space-between;
}

.footer {
  display: inline;
}

.list {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 45px;
  /* or 371% */
  margin-left: 5%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  color: #000000;
}

.events-overlay {
  position: absolute;
  left: 0;
background: radial-gradient(111.36% 111.36% at 16.48% 11.93%, #00E0FF 0%, #0044F2 100%);
  color: #000000;
  overflow: hidden;
  opacity: 0;
  height: 100%;
  width: 0;
  top: 0;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.box1:hover .events-overlay {
  width: 100%;
  border-radius: 45px;
  animation: fadeIn 1s ;
  
  
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  animation-fill-mode: forwards;
}
.box1:hover .icon-img {
  display: block;
  opacity: 0;
}
.box1:hover .icon-img-1{

  opacity: 1;
}

.box1:hover.cover1 {
  display: block;
  background: white;
}
.box1:hover .cover {
  visibility: hidden;
  
  opacity: 0;
}

.box1:hover .para {
 
  color: white;
  
}

.box1:hover .para1 {
 opacity: 1;
  color: white;
}

.cover1 {
  height: 35%;
  width: 35%;
  background: white;
  border-radius: 50%;
  margin: auto;
  margin-top: 40px;
}

.icon {
  
    font-size: 23px;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

}

.icon a {
  color: inherit;
  text-decoration: none;
}

.icon1:hover {
  color: #0081FE;
  transform: translateY(-2px);
}

.icon2:hover {
  color: #0081FE;
}

.icon3:hover {
  color: #0081FE;
}

.icon4:hover {
  color: #0081FE;
}

.footerdetail {
  width: 30vw;
  margin-left: 10vw;
  display: inline-block;
}

.footerdetail a {
  color: inherit;
  text-decoration: none;
}

.ppati {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.copyright {
  font-family: 'Assistant';
    display: flex;
    /* width: 16vw; */
    justify-content: flex-end;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #0A142F;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.anuraj {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.chirayu {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.arnav {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.sections {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: #0A142F;
}

.address {
  display: flex;
}

.foot-email {
  display: flex;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40vw;
  margin-left: 10vw;
  justify-content: space-around;
}

.sec-name {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  /* Dark */
  color: #0A142F;
}

.adress-content {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.adress-content .fa-solid {
  margin-right: 10px;
  font-size: 18px;
}

.footer-mail {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.footer-mail a {
  text-decoration: none;
  color: inherit;
}

.footer-mail .fa-solid {
  margin-right: 10px;
  font-size: 18px;
}

.hr {
  width: 14vw;
  background-color: #00E0FF;
  height: 3px;
  margin-left: 22%;
  margin-top: 45px;
  position: absolute;
}

.hr1 {
  position: absolute;
  width: 14vw;
  background-color: #00E0FF;
  height: 3px;
  margin-left: 65%;
  margin-top: -25px;
  display: flex;
}

@media screen and (max-width:1024px) {
  body {
    width: 100vw;
  }

  .row-1 {
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  .row-2 {
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  .bg {
    width: auto;
    height: auto;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-size: 100% 20%;
    background-blend-mode: cover;
  }

  .About {
    font-size: 20px;
    margin-top: 20px;
  }

  .parag {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 190.5%;
    /* display:flex;
            flex-direction: row; */
    margin: 20px 15px;
    color: #9E9D9D;
    text-align: justify;
  }

  .background {
    left: 0px;
    /* top: 1371px; */
    background: #F3F3F3;
    border: 2px solid #FFFFFF;
    width: 100vw;
  }

  .heading {
    margin-bottom: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 54px;
    color: #000000;
  }

  .box1 {
    width: 254.93px;
    height: 255.04px;
    /* left: -53px; */
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
  }

  .box2 {
    width: 254.93px;
    height: 255.04px;
    /* left: 382.03px; */
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
  }

  .box3 {
    width: 254.93px;
    height: 255.04px;
    /* left: 817.07px; */
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
  }

  .box4 {
    width: 254.93px;
    height: 255.04px;
    /* left: 1252px; */
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
  }

  .box5 {
    width: 254.93px;
    height: 255.04px;
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
  }

  .box6 {
    width: 254.93px;
    height: 255.04px;
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
  }

  .box7 {
    width: 254.93px;
    height: 255.04px;
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
  }

  .box8 {
    width: 254.93px;
    height: 255.04px;
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
  }

  .Subscribe {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .name1 {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    padding: 0px;
    margin-left: 15%;
    margin-right: 100px;
    margin-top: -20%;
    color: #000000;
  }

  #container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .adress-content {
    margin: 15px 25px;
  }

  .subscription {
    display: block;
    width: 100vw;
    padding-bottom: 50px;
  }

  .sec-name {
    margin-left: 0px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
  }

  .names {
    display: flex;
    flex-direction: column;
  }

  .social {
    display: flex;
    width: 100vw;
    margin: 0;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }

  .footerdetail {
    /* width: 40vw; */
    /* margin-left: 10vw; */
    display: inline-block;
    width: 100vw;
    margin-left: 0;
  }

  .ppati {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    justify-content: space-between;
    width: 40vw;
    /* margin-left: 15vw; */
    margin: 0 30vw;
    color: #000000;
  }

  .anuraj {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    justify-content: space-between;
    width: 40vw;
    /* margin-left: 15vw; */
    margin: 0 30vw;
    color: #000000;
  }

  .chirayu {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    justify-content: space-between;
    width: 40vw;
    /* margin-left: 15vw; */
    margin: 0 30vw;
    color: #000000;
  }

  .arnav {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    justify-content: space-between;
    width: 40vw;
    /* margin-left: 15vw; */
    margin: 0 30vw;
    color: #000000;
  }

  .subscribe-text {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .mail {
    width: 80vw;
    height: 60px;
    margin-bottom: 30px;
  }

  .sections {
    justify-content: space-evenly;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sec-box {
    width: 130px;
    height: 60px;
    font-size: 13px;
    position: unset;
  }

  .icon {
    margin-top: 30px;
    margin-left: 12vw;
    justify-content: center;
  }

  .copyright {
    margin-left: 0;
    margin-top: 30px;
    width: 100vw;
    justify-content: center;
  }

  .paragraph {
    /* left: auto; */
    /* top: 16px; */
    position: unset;
    font-size: 23px;
    margin: auto;
    /* margin-top: 0px; */
    padding-top: 25px;
    width: fit-content;
  }

  .subscribe-text {
    margin-top: 0px;
  }

  .hr {
    width: 20vw;
    background-color: #00E0FF;
    height: 3px;
    margin-left: 2%;
    margin-top: 45px;
    position: absolute;
  }

  .hr1 {
    position: absolute;
    width: 20vw;
    background-color: #00E0FF;
    height: 3px;
    margin-left: 77%;
    margin-top: -25px;
    display: flex;
  }
}
